node_modules/
result/
result-min/

.seed
.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# VIM
..swo
..swp
tags

# NetBeans
nbproject

# CVS
CVS
.cvsignore

# TextMate
.#

# PHP Storm, other java IDE's
.idea

# OS X
.DS_Store
._*

# Windows
Thumbs.db